anyio==4.13.0
asqlite==2.0.0
asyncio==4.0.0
audioop-lts==0.2.2
azure-cognitiveservices-speech==1.49.1
datetime==6.0
gtts==2.5.4
logging==0.4.9.6
mutagen==1.47.0
obs_websocket_py==1.0
pydantic==2.46.3
pydub==0.25.1
pygame==2.6.1
requests==2.33.1
rich==15.0.0
setuptools==82.0.1
soundfile==0.13.1
twitchio==3.2.2
