<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>
            html {
                background-color: rgba(0, 0, 0, 0);
            }

            .bigChatMessage {
                background-color: rgba(0, 0, 0, 1);
            }
        </style>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
            integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
            crossorigin="anonymous"
        ></script>
        <script src="{{ url_for('static', filename='env.js') }}"></script>
        <script type="text/javascript" charset="utf-8">

            //based on month of sub
            const sub_badges = {
              "1": "{{ url_for('static', filename='images/sub_badges/1_month.png') }}",
              "2": "{{ url_for('static', filename='images/sub_badges/2_months.png') }}",
              "3": "{{ url_for('static', filename='images/sub_badges/3_months.png') }}",
              "6": "{{ url_for('static', filename='images/sub_badges/6_months.png') }}",
              "9": "{{ url_for('static', filename='images/sub_badges/9_months.png') }}",
              "12": "{{ url_for('static', filename='images/sub_badges/1_year.png') }}",
              "18": "{{ url_for('static', filename='images/sub_badges/1.5_years.png') }}",
              "24": "{{ url_for('static', filename='images/sub_badges/2_years.png') }}",
              "30": "{{ url_for('static', filename='images/sub_badges/2.5_years.png') }}",
              "36": "{{ url_for('static', filename='images/sub_badges/3_years.png') }}",
              "42": "{{ url_for('static', filename='images/sub_badges/3.5_years.png') }}",
              "48": "{{ url_for('static', filename='images/sub_badges/4_years.png') }}",
              "54": "{{ url_for('static', filename='images/sub_badges/4.5_years.png') }}",
              "60": "{{ url_for('static', filename='images/sub_badges/5_years.png') }}",
            }

            function getSubBadge(sub_month){
              let previous_possible_sub_month = "0";

              for (const possible_sub_month of Object.keys(sub_badges)){

                if (sub_month === parseInt(possible_sub_month)) return sub_badges[possible_sub_month];
                else if (sub_month < parseInt(possible_sub_month)) return sub_badges[previous_possible_sub_month];

                previous_possible_sub_month = possible_sub_month;

              }

              return sub_badges[previous_possible_sub_month];
            }

            const alertImage = {
                follow: "https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_aa995c48561b4d8d9b27d461de10d020/default/dark/3.0", // thefox91Hi
                first_sub:
                    getSubBadge(1), // Subbed for 1 month
                resub:
                    "", // TBD by sub month
                gift_sub:
                    "https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_80112d39a08b4ee78d778cdb7500a617/default/dark/3.0", // thefox91StareSlide
                cheer: "https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_3e45798a8d5846d0b8074faae196c128/default/dark/3.0", // thefox91Money
                hype_train_start:
                    "https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_b122a699fc1e4343b33de09ba057e295/default/dark/3.0", // thefox91ChatArrive
                hype_train_level_up:
                    "https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_e03c942f8fa640b0b384474f3ebdf295/default/dark/3.0", // thefox91Stonks
                raid: "https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_c647c365c0674050bf12c1c666243628/default/dark/3.0", // thefox91Stare
                channel_points:
                    "https://static-cdn.jtvnw.net/emoticons/v2/emotesv2_ad7e8ae6e14e4ccaa59d46a436719736/default/dark/3.0", // thefox91Chat
            };

            function deleteFile(file_name) {
                $.ajax({
                    url: "{{ url_for('static', filename='delete.php') }}", //ngl idk if it works
                    data: {
                        file:
                            "<?php echo dirname(__FILE__) . '/uploads/'?>" +
                            file_name,
                    },
                    success: function (response) {
                        console.log("File was sucessfully deleted.");
                    },
                    error: function () {
                        console.log("The file could not be deleted.");
                    },
                });
            }

            document.addEventListener("DOMContentLoaded", async () => {

                const alert_queue = [];
                const emoteSize = 36;

                let isAlertPlaying = false;

                const alert_box_text =
                    document.getElementById("alert_box_text");

                const alert_box_chat_message = document.getElementById(
                    "alert_box_chat_message",
                );

                const alert_box_img = document.getElementById("alert_box_img");

                function resetAlert() {
                    alert_box_img.src = "";
                    alert_box_text.textContent = "";
                    alert_box_chat_message.textContent = "";
                }

                function triggerAlert(alert) {
                    console.log("Now playing: " + alert.type);
                    console.log(alert);

                    alert_box_img.src = alertImage[alert.type];

                    const user = document.createElement("span");
                    user.textContent = alert.username;
                    user.style.color = alert.color;

                    if (alert.type === "follow") {
                        alert_box_text.appendChild(
                            document.createTextNode("Thank you "),
                        );

                        alert_box_text.appendChild(user);

                        alert_box_text.appendChild(
                            document.createTextNode(" for the follow!"),
                        );
                    } else if (alert.type === "first_sub") {
                        alert_box_text.appendChild(
                            document.createTextNode("Thank you "),
                        );

                        alert_box_text.appendChild(user);

                        alert_box_text.appendChild(
                            document.createTextNode(" for the "),
                        );

                        const sub_type = document.createElement("span");
                        sub_type.textContent = "Tier " + alert.sub_type;
                        sub_type.style.color = alert.color;

                        alert_box_text.appendChild(sub_type);

                        alert_box_text.appendChild(
                            document.createTextNode(" sub!"),
                        );

                        alert_box_text.appendChild(sub_type);
                    } else if (alert.type === "resub") {
                        alert_box_img.src = getSubBadge(alert.amount);

                        alert_box_text.appendChild(
                            document.createTextNode("Thank you "),
                        );

                        alert_box_text.appendChild(user);

                        alert_box_text.appendChild(
                            document.createTextNode(" for the "),
                        );

                        const sub_month = document.createElement("span");
                        sub_month.textContent = alert.amount;
                        sub_month.style.color = alert.color;

                        alert_box_text.appendChild(sub_month);

                        alert_box_text.appendChild(
                            document.createTextNode(
                                ` month${alert.amount > 1 ? "s" : ""} of `,
                            ),
                        );

                        const sub_type = document.createElement("span");
                        sub_type.textContent = "Tier " + alert.sub_type;
                        sub_type.style.color = alert.color;

                        alert_box_text.appendChild(sub_type);

                        alert_box_text.appendChild(
                            document.createTextNode(" sub!"),
                        );
                    } else if (alert.type === "gift_sub") {
                        alert_box_text.appendChild(
                            document.createTextNode("Thank you "),
                        );

                        alert_box_text.appendChild(user);

                        alert_box_text.appendChild(
                            document.createTextNode(" for the "),
                        );

                        const sub_amount = document.createElement("span");
                        sub_amount.textContent = alert.amount + " ";
                        sub_amount.style.color = alert.color;

                        alert_box_text.appendChild(sub_amount);

                        const sub_type = document.createElement("span");
                        sub_type.textContent = "Tier " + alert.sub_type;
                        sub_type.style.color = alert.color;

                        alert_box_text.appendChild(sub_type);

                        alert_box_text.appendChild(
                            document.createTextNode(
                                ` sub-gift${alert.amount > 1 ? "s" : ""}!`,
                            ),
                        );
                    } else if (alert.type === "cheer") {
                        alert_box_text.appendChild(
                            document.createTextNode("Thank you "),
                        );

                        alert_box_text.appendChild(user);

                        alert_box_text.appendChild(
                            document.createTextNode(" for the "),
                        );

                        const cheer_amount = document.createElement("span");
                        cheer_amount.textContent = alert.amount;
                        cheer_amount.style.color = alert.color;

                        alert_box_text.appendChild(cheer_amount);

                        alert_box_text.appendChild(
                            document.createTextNode(" bits!"),
                        );
                    } else if (alert.type === "hype_train_start") {
                        alert_box_text.appendChild(
                            document.createTextNode("A "),
                        );

                        const hype_train_shared =
                            document.createElement("span");
                        hype_train_shared.textContent = alert.is_shared
                            ? "Shared "
                            : "";
                        hype_train_shared.style.color = "#00FF00";

                        alert_box_text.appendChild(hype_train_shared);

                        const hype_train_type = document.createElement("span");
                        hype_train_type.textContent =
                            alert.train_type === "treasure"
                                ? "Treasure "
                                : alert.train_type === "golden_kappa"
                                  ? "Golden Kappa "
                                  : alert.train_type === "mythic"
                                    ? "Mythic "
                                    : "";
                        hype_train_type.style.color =
                            alert.train_type === "treasure"
                                ? "#3946c3"
                                : alert.train_type === "golden_kappa" ||
                                    alert.train_type === "mythic"
                                  ? "gold"
                                  : "#00FF00";

                        alert_box_text.appendChild(hype_train_type);

                        alert_box_text.appendChild(
                            document.createTextNode(" Hype Train has started!"),
                        );
                    } else if (alert.type === "hype_train_level_up") {
                        alert_box_text.appendChild(
                            document.createTextNode("The "),
                        );

                        const hype_train_shared =
                            document.createElement("span");
                        hype_train_shared.textContent = alert.is_shared
                            ? "Shared "
                            : "";
                        hype_train_shared.style.color = "#00FF00";

                        alert_box_text.appendChild(hype_train_shared);

                        const hype_train_type = document.createElement("span");
                        hype_train_type.textContent =
                            alert.train_type === "treasure"
                                ? "Treasure "
                                : alert.train_type === "golden_kappa"
                                  ? "Golden Kappa "
                                  : alert.train_type === "mythic"
                                    ? "Mythic "
                                    : "";
                        hype_train_type.style.color =
                            alert.train_type === "treasure"
                                ? "#3946c3"
                                : alert.train_type === "golden_kappa" ||
                                    alert.train_type === "mythic"
                                  ? "gold"
                                  : "#00FF00";

                        alert_box_text.appendChild(hype_train_type);

                        alert_box_text.appendChild(
                            document.createTextNode(" Hype Train has reached "),
                        );

                        const hype_train_level = document.createElement("span");
                        hype_train_level.textContent = "level " + alert.level;
                        hype_train_level.style.color = "#00FF00";

                        alert_box_text.appendChild(hype_train_level);

                        alert_box_text.appendChild(
                            document.createTextNode("!"),
                        );
                    } else if (alert.type === "raid") {
                        alert_box_text.appendChild(
                            document.createTextNode("Thank you "),
                        );

                        alert_box_text.appendChild(user);

                        alert_box_text.appendChild(
                            document.createTextNode(" for the raid of "),
                        );

                        const viewers = document.createElement("span");
                        viewers.textContent = alert.viewers;
                        viewers.style.color = alert.color;

                        alert_box_text.appendChild(viewers);

                        alert_box_text.appendChild(
                            document.createTextNode(
                                ` viewer${alert.viewers > 1 ? "s" : ""}!`,
                            ),
                        );
                    } else if (alert.type === "channel_points") {
                        alert_box_text.appendChild(user);

                        alert_box_text.appendChild(
                            document.createTextNode(" redeemed "),
                        );

                        const channel_points_reward_title =
                            document.createElement("span");
                        channel_points_reward_title.textContent = alert.title;
                        channel_points_reward_title.style.color = alert.color;

                        alert_box_text.appendChild(channel_points_reward_title);
                    }

                    if (alert.message) {
                        /*
                          traitement de message avec emotes
                        */

                        const splitMessages = alert.message.split(" ");
                        const lastWord = ("" + alert.message)
                            .replace(/[\s-]+$/, "")
                            .split(/[\s-]/)
                            .pop();

                        for (const word of splitMessages) {
                            if (
                                alert.emotes &&
                                Object.keys(alert.emotes).includes(word)
                            ) {
                                const chatMessageFragment =
                                    document.createElement("img");
                                chatMessageFragment.src = alert.emotes[word];
                                chatMessageFragment.classList.add(
                                    "inline-grid",
                                    "mr-2",
                                    `h-[${emoteSize}px]`,
                                    "align-middle",
                                );
                                alert_box_chat_message.appendChild(
                                    chatMessageFragment,
                                );
                            } else {
                                alert_box_chat_message.appendChild(
                                    document.createTextNode(
                                        word + (lastWord === word ? "" : " "),
                                    ),
                                );
                            }
                        }
                    } else if (alert.type === "gift_sub") {
                        alert_box_chat_message.appendChild(
                            document.createTextNode("They gifted "),
                        );

                        const gift_total = document.createElement("span");
                        gift_total.textContent = alert.total_amount;
                        gift_total.style.color = alert.color;

                        alert_box_chat_message.appendChild(gift_total);

                        alert_box_chat_message.appendChild(
                            document.createTextNode(
                                " subs in total to the community!",
                            ),
                        );
                    } else if (alert.type === "raid") {
                        alert_box_chat_message.appendChild(
                            document.createTextNode("Welcome to the stream!"),
                        );
                    }

                    const time_for_alerts = alert.time_to_live  // Make the alert at least as long as the TTS message if there's one, otherwise 5s

                    setTimeout(() => {
                        resetAlert();
                    }, time_for_alerts * 1000);
                }

                const socket = io();

                socket.on("message_send", (msg, cb) => {
                    console.log("Got data: " + msg.message);
                });

                socket.on("new_alert", async (msg, cb) => {
                    console.log("Got a new message: ");
                    console.log(msg);

                    triggerAlert(msg);
                });
            });
        </script>
    </head>
    <body class="w-screen h-screen items-center justify-center">
        <div
            class="w-full h-full flex flex-col items-center justify-center text-center font-bold text-white"
            id="alert_box"
        >
            <img src="" id="alert_box_img" class="mb-3" />
            <span
                id="alert_box_text"
                class="text-3xl mb-2"
                style="-webkit-text-stroke: 2px black"
            ></span>
            <span
                id="alert_box_chat_message"
                class="text-2xl text-white"
                style="-webkit-text-stroke: 2px black"
            ></span>
        </div>
    </body>
</html>
