<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>
            html {
                background-color: rgba(0, 0, 0, 0);
            }

            .bigChatMessage {
                background-color: rgba(0, 0, 0, 1);
            }
        </style>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
            integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
            crossorigin="anonymous"
        ></script>
        <script type="text/javascript" charset="utf-8">
            async function getPronouns() {
                const all_pronouns_req = await fetch(
                    `https://api.pronouns.alejo.io/v1/pronouns`,
                );

                if (all_pronouns_req.ok) {
                    const all_pronouns = await all_pronouns_req.json();
                    return all_pronouns;
                }
            }

            const topSize = "text-xl";
            const bottomSize = "text-2xl";

            document.addEventListener("DOMContentLoaded", async () => {
                const all_pronouns = await getPronouns();

                const badgeSize = 28;
                const emoteSize = 36;

                const socket = io();

                socket.on("message_send", (msg, cb) => {
                    console.log("Got data: " + msg.message);
                });

                socket.on("new_message_chat", async (msg, cb) => {
                    console.log("Got a new message: ");
                    console.log(msg);

                    const chatbox = document.getElementById("chatbox");

                    //Max 20 message

                    if (chatbox.children.length >= 20) {
                        chatbox.firstElementChild.remove();
                    }

                    const chatMessage = document.createElement("div");
                    chatMessage.classList.add(
                        "flex",
                        "flex-col",
                        "mb-5",
                        "border-4",
                        "p-2.5",
                        "rounded-2xl",
                        "bigChatMessage",
                    );
                    chatMessage.style.borderColor = msg.color;

                    const chatMessageAuthor = document.createElement("div");
                    chatMessageAuthor.classList.add(
                        "w-auto",
                        "flex",
                        "flex-row",
                        "items-center",
                        "justify-center",
                    );

                    const chatMessageBadges = document.createElement("div");
                    chatMessageBadges.classList.add(
                        "flex",
                        "flex-row",
                        "items-center",
                        "justify-center",
                        `w-[${(badgeSize + 2) * msg.badges.length + (msg.shared_chat_pfp.length > 0 ? badgeSize + 4 : 0)}px]`,
                        "mr-2",
                    );

                    if (msg.shared_chat_pfp.length > 0) {
                        const badge = document.createElement("img");
                        badge.src = msg.shared_chat_pfp;
                        badge.classList.add(
                            `h-[${badgeSize + 2}px]`,
                            "mr-1",
                            "rounded",
                        );

                        chatMessageBadges.appendChild(badge);
                    }

                    for (const badgeURL of msg.badges) {
                        const badge = document.createElement("img");
                        badge.src = badgeURL + "/2";
                        badge.classList.add(`h-[${badgeSize}px]`, "mr-1");

                        chatMessageBadges.appendChild(badge);
                    }

                    chatMessageAuthor.appendChild(chatMessageBadges);

                    const pronouns_req = await fetch(
                        `https://api.pronouns.alejo.io/v1/users/${msg.username}`,
                    );
                    if (pronouns_req.ok) {
                        const pronouns = await pronouns_req.json();
                        const correct_pronouns = [
                            all_pronouns[pronouns.pronoun_id],
                            all_pronouns[pronouns.pronoun_id].singular
                                ? all_pronouns[pronouns.pronoun_id]
                                : all_pronouns[pronouns.alt_pronoun_id],
                        ];
                        const chatMessagePronouns = document.createElement("p");
                        chatMessagePronouns.textContent =
                            correct_pronouns[0].subject +
                            (correct_pronouns[0].singular
                                ? ""
                                : "/" + correct_pronouns[1].object);
                        chatMessagePronouns.classList.add(
                            "text-white",
                            msg.chatter.length < 12 ? "border-4" : "border-2",
                            "rounded-xl",
                            "px-2",
                            "py-1",
                            "mr-2",
                            msg.chatter.length < 12 ? bottomSize : topSize,
                            "text-center",
                            "items-center",
                            "justify-center",
                        );

                        chatMessageAuthor.appendChild(chatMessagePronouns);
                    }

                    const chatMessageAuthorName = document.createElement("p");
                    chatMessageAuthorName.textContent = msg.chatter;
                    chatMessageAuthorName.style.color = msg.color;
                    chatMessageAuthorName.classList.add(
                        "font-bold",
                        msg.chatter.length < 12 ? bottomSize : topSize,
                    );

                    chatMessageAuthor.appendChild(chatMessageAuthorName);

                    chatMessage.appendChild(chatMessageAuthor);

                    const chatMessagetText = document.createElement("div");
                    chatMessagetText.classList.add(
                        "flex",
                        "items-center",
                        "justify-center",
                        "mt-2.5",
                    );

                    const chatMessageContent = document.createElement("span");

                    chatMessageContent.classList.add(
                        "text-white",
                        "mr-1",
                        bottomSize,
                    );
                    const splitMessages = msg.message.split(" ");
                    const lastWord = ("" + msg.message)
                        .replace(/[\s-]+$/, "")
                        .split(/[\s-]/)
                        .pop();

                    for (const word of splitMessages) {
                        if (Object.keys(msg.emotes).includes(word)) {
                            const chatMessageFragment =
                                document.createElement("img");
                            chatMessageFragment.src = msg.emotes[word];
                            chatMessageFragment.classList.add(
                                "inline-grid",
                                "mr-2",
                                `h-[${emoteSize}px]`,
                                "align-middle",
                            );
                            chatMessageContent.appendChild(chatMessageFragment);
                        } else {
                            chatMessageContent.appendChild(
                                document.createTextNode(
                                    word + (lastWord === word ? "" : " "),
                                ),
                            );
                        }
                    }

                    chatMessagetText.appendChild(chatMessageContent);

                    chatMessage.appendChild(chatMessagetText);

                    chatbox.appendChild(chatMessage);
                });
            });
        </script>
    </head>
    <body class="w-screen h-screen items-center justify-center">
        <div
            class="w-full h-full flex flex-col items-center justify-end"
            id="chatbox"
        ></div>
    </body>
</html>
