<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <script
          src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
          integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
          crossorigin="anonymous"
        ></script>
        <script type="text/javascript" charset="utf-8">
        document.addEventListener("DOMContentLoaded", () => {

          const socket = io();

          socket.on("message_send", (payload, cb) => {
            //console.log(lang_chat.console.got_data + payload.message);
          });

          socket.on("sub_info_receive", (payload, cb) => {
            //console.log(lang_chat.console.got_data + payload.message);
          });

          socket.emit("sub_info", {});

          let mode = "title";

        setInterval(() => {

          const isNewMinute = new Date().getSeconds() === 0

          if (isNewMinute){
            if (mode === "title") {
              document.getElementById("title").textContent = "Subgoal: 3/10";
              mode = "subgoal";
            } else {
              document.getElementById("title").textContent = "Some random infos";
              mode = "title";
            }
          }

        }, 1000); //Every second
        });
        </script>
    </head>

    <body>
        <span id="title">Some random infos</span>
    </body>
</html>
